---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import PhaseSection from "../components/phase";
import { phases } from "../data/phases";
import { tools } from "../data/tools";
import { rex } from "../data/rex";
import ToolCard from "../components/cards/tool-card.astro";
import type { Rex, Tool } from "../types/data";
import RexCard from "../components/cards/rex-card.astro";
---

<MainLayout title="Design Tokens Book">
  <section
    id="introduction"
    class="pb-12 pt-16 container space-y-12 py-8 md:py-12 lg:py-24"
  >
    <div
      class="container flex max-w-[64rem] md:flex-row flex-col items-center gap-4 md:gap-8 text-center"
    >
      <div>
        <h1
          class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h1>

        <p
          class="max-w-[42rem] leading-normal sm:text-xl sm:leading-8 text-balance"
        >
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Tortor aliquam nulla facilisi cras fermentum. Sodales neque sodales ut
          etiam sit amet.
        </p>
        <div class="flex justify-center space-x-2 md:space-x-4 gap-6 mt-8">
          <a
            href="/docs/getting-started/"
            class={cn(buttonVariants({ size: "lg" }))}
          >
            Acheter le livre
          </a>
          <a
            href="https://www.amazon.fr/"
            target="_blank"
            rel="noreferrer"
            class={cn(
              buttonVariants({ variant: "outline", size: "lg" }),
              "px-4"
            )}
          >
            Avoir la version en ligne
          </a>
        </div>
      </div>
      <img src="/images/image-cover.png" alt="Couverture du livre" />
    </div>
  </section>
  <section
    id="Contenu"
    class="container space-y-12 bg-secondary-lighter py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Contenu du livre
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        This project is a replication of Taxonomy using Astro v4 and shadcn/ui.
        Some features, such as authentication, subscriptions and API routes,
        have not been implemented yet.
      </p>
    </div>
    <div
      class="mx-auto grid justify-center gap-20 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-2"
    >
      <img src="images/contenu.svg" alt="illustration-livre" />
      <div>
        <ul class="overflow-hidden space-y-8 list-disc">
          {
            phases.map((phase) => (
              <li
                class={`relative flex-1 ${phase.id <= (phases.length - 1).toString() ? "after:content-[''] after:w-0.5 after:h-full after:bg-foreground after:inline-block after:absolute after:top-10 after:left-5" : ""} lg:after:left-5`}
              >
                <a class="flex items-start font-medium w-full">
                  <span class="z-10 w-12 h-11 bg-primary border-foreground border-2 rounded-full flex justify-center items-center text-sm text-primary-foreground lg:w-10 lg:h-10">
                    {phase.id}
                  </span>
                  <PhaseSection
                    id={phase.id}
                    theme={phase.theme}
                    phases={phase.phases}
                    client:only
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
  <section
    id="design-token-definition"
    class="container space-y-12 bg-primary p-8 dark:bg-transparent md:py-12 lg:py-32"
  >
    <div class="flex mx-auto justify-center items-center max-w-[58rem]">
      <div class="flex flex-col gap-4 md:gap-8">
        <h2
          class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl flex flex-col"
        >
          Qu'est-ce qu'un <span class="uppercase">Design Token</span>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a
          href=""
          target="_blank"
          class={`${cn(buttonVariants({ size: "lg", variant: "secondary" }))} w-fit mx-auto`}
        >
          En apprendre plus
        </a>
      </div>
      <img src="/images/puzzle-piece.png" alt="Pièce de puzzle" />
    </div>
  </section>
  <section
    id="Outils"
    class="container space-y-12 bg-primary-lighter py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div class="mx-auto flex max-w-[58rem] flex-col space-y-4">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Outils
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        This project is a replication of Taxonomy using Astro v4 and shadcn/ui.
        Some features, such as authentication, subscriptions and API routes,
        have not been implemented yet.
      </p>
    </div>

    <div class="flex flex-wrap justify-center mt-10">
      {
        tools.map(({ title, description, imageSrc }: Tool) => (
          <ToolCard title={title} description={description} image={imageSrc} />
        ))
      }
    </div>
  </section>

  <section
    id="Rex"
    class="container space-y-12 bg-secondary-lighter py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div class="mx-auto flex max-w-[58rem] flex-col space-y-4">
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Retour d'expérience
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        This project is a replication of Taxonomy using Astro v4 and shadcn/ui.
        Some features, such as authentication, subscriptions and API routes,
        have not been implemented yet.
      </p>
    </div>

    <div
      class="flex flex-col items-center mt-10 gap-16 [&>*:nth-child(odd)]:-rotate-2"
    >
      {
        rex.map(({ name, userImage, entrepriseImage, description }: Rex) => (
          <RexCard
            name={name}
            description={description}
            userImage={userImage}
            entrepriseImage={entrepriseImage}
          />
        ))
      }
    </div>
  </section>
</MainLayout>
